@model IEnumerable<Models.DiscountsMod>

@{
    ViewBag.Title = "Discounts";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("index", "newdiscount")">Add discount</a>
</p>
<p>
    <a href="@Url.Action("index", "deldiscount")">Delete discount</a>
</p>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiscountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percent)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
